@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

:root {
  --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
  --color-primary: #667eea;
  --color-secondary: #764ba2;
  --boton-padding: 20px 40px;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 0;
  max-width: 1440px;
}

.subtitle {
  color: var(--color-primary);
  font-size: 2.5rem;
  margin-bottom: 35px;
}

.header-default {
  background-image: linear-gradient(
    25deg,
    #ffeeff 0,
    #d2c6ff 25%,
    #9d9df2 50%,
    #6e75b2 75%,
    #485078 100%
  );
}

.hero {
  height: 100vh;
  background-image: var(--background), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.hero .container {
  padding: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  align-items: center;
  font-weight: 700;
}

.nav-footer {
  font-weight: 300;
  justify-content: flex-start;
}

.nav-items {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 15px;
  font-weight: inherit;
}

.nav-items--cta {
  border: 1px solid #fff;
}

.nav-items-footer {
  padding: 10px;
}

.hero-container {
  display: flex;
  height: calc(100vh - 70px);
  align-items: center;
  color: white;
}

.hero-texts {
  width: 80%;
  margin-bottom: 50px;
}

.hero-title {
  font-size: 3.2rem;
}

.hero-subtitle {
  font-size: 2rem;
  font-weight: 300;
  margin: 15px 0;
}

.hero-cta {
  display: inline-block;
  background: white;
  padding: var(--boton-padding);
  color: var(--color-primary);
  text-decoration: none;
  border-radius: 40px;
}

.hero-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.title {
  color: black;
}
/* Acerca de mi */

.presentation {
  padding-top: 0;
  text-align: center;
}

.presentation--picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
  object-position: top;
}

.presentation-copy {
  width: 80%;
  margin: 0 auto;
}

.presentation-cta {
  display: inline-block;
  margin-top: 30px;
  background: var(--color-primary);
  color: white;
  text-decoration: none;
  padding: var(--boton-padding);
  border-radius: 40px;
}

/* CSSS GRID */

.about {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  justify-items: center;
  align-items: center;
}

.about-img {
  text-align: center;
}

.about-img-left {
  text-align: left;
}

.about-picture {
  max-width: 80%;
}

.about-paragraph {
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 300;
}

/* PROYECTOS */

.projects {
  color: #f2f2f2;
}

.projects-grid {
  display: grid;
  height: 550px;
  grid-template-areas:
    "img1 img1 img2 img3"
    "img1 img1 img4 img5";
  gap: 10px;
}

.projects-item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.projects-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.projects-item:nth-of-type(1) {
  grid-area: img1;
}

.projects-item:nth-of-type(2) {
  grid-area: img2;
}

.projects-item:nth-of-type(3) {
  grid-area: img3;
}

.projects-item:nth-of-type(4) {
  grid-area: img4;
}

.projects-item:nth-of-type(5) {
  grid-area: img5;
}

/* animaciones */

.projects-hover {
  position: absolute;
  background: #dc143c8c;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.projects-item:hover .projects-hover {
  transform: translateX(0%);
}

.projects-icon {
  margin-top: 10px;
  font-size: 30px;
}

/* OPINIONES*/

.testimony-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.testimony-item {
  width: 95%;
  margin: 0 auto;
  background: var(--color-secondary);
  box-shadow: 0 8px 10px rgba(66, 66, 66, 0.5);
  border-radius: 7px;
  padding: 30px 15px;
  color: white;
  margin-bottom: 50px;
}

.testimony-person {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.testimony-img {
  width: 100px;
  min-width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: 30px;
}

.testimony-name {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.testimony-verification {
  color: #e0afa0;
  font-weight: 700;
}

.testimony-review {
  font-weight: 300;
}

/* FOOTER */

.footer {
  background-color: var(--color-primary);
}

.footer-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  align-items: center;
}

.footer-title {
  font-weight: 400;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.footer-icons {
  display: flex;
  justify-content: space-evenly;
}

.footer-container-icons {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: white;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
}

.footer-icon {
  color: inherit;
  font-size: 30px;
  text-decoration: none;
}

.fab.footer-icon {
  line-height: 60px;
}

/* Responsive MediaQ */

@media screen and (max-width: 800px) {
  :root {
    --boton-padding: 16px 40px;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .subtitle {
    font-size: 1rem;
    margin-bottom: 40px;
  }
  .nav {
    justify-content: space-around;
  }

  .nav-items--cta {
    border: none;
  }
  .nav-items {
    font-weight: 400;
    border-bottom: 1px solid #fff;
    margin-right: 0;
    font-size: 0.6rem;
  }

  .nav-items-footer {
    border: none;
  }

  .hero-texts {
    width: 100%;
    margin-bottom: 80px;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  /* sobre mi */

  .presentation-copy {
    width: 100%;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .about.container {
    padding-top: 30px;
  }

  .about-img-left {
    text-align: center;
  }

  .about-texts:last-child {
    grid-row: 3/4;
  }

  /* proyectos */

  .projects-grid {
    grid-template-areas:
      "img1 img1 img2 img2"
      "img1 img1 img3 img3"
      "img4 img4 img5 img5";
  }

  /* opiniones */

  .testimony-grid {
    grid-template-columns: 1fr;
  }

  .testimony-item {
    margin-bottom: 30px;
  }

  /* footer */

  .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer-contact {
    grid-row: 1/2;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --boton-padding: 18px 35px;
  }

  .title {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .subtitle {
    font-size: 0.5rem;
    margin-bottom: 20px;
  }
  .nav {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
  }

  .nav-items {
    padding: 0 10px;
    border: 0;
  }

  .hero-texts {
    text-align: center;
    margin-bottom: 100px;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  /* sobre mi */

  .presentation--picture {
    width: 100px;
    height: 100px;
  }

  .about {
    row-gap: 60px;
  }

  .about.container {
    padding-top: 10px;
  }

  /* proyectos */

  .projects-grid {
    grid-template-areas:
      "img1"
      "img2"
      "img3"
      "img4"
      "img5";
    height: auto;
    grid-template-rows: repeat(5, 250px);
  }

  /* opiniones */

  .testimony-item {
    padding: 30px 15px;
  }

  .testimony-texts {
    text-align: center;
  }

  .testimony-person {
    flex-direction: column;
  }

  .testimony-img {
    margin: 0%;
    margin-bottom: 20px;
  }
}


/* opiniones */

.gradient{
  background: linear-gradient(135deg, #9d9df2 0%, #6e75b2 100%);
  background-image: linear-gradient(to right, #9d9df2(221, 78, 35, 0.95), #6e75b2(221, 78, 48, 0.95));
  
    
}